.svgIcon {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  height: 50px; // Demo Only
  width: 50px; // Demo Only
}

.nyplCarouselCircle-icon {
  background-color: #CCC;
  width: 24px;
  height: 24px;
}

.nyplLionLogo {
  width: 308px;
  height: 192px;
}

#bookIcon {
  background-color: #CCC;
}
